@page
@model PaymentSystem.ListModel
@{
    ViewData["Title"] = "Şirketler";
}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Şirketler</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
                <li class="breadcrumb-item active">Şirketler</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table">
                        <table id="datatable" style="width:100%;" class="display nowrap table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Şirket Adı</th>
                                    <th>Telefon</th>
                                    <th>Üye Sayısı</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            data: @Json.Serialize(Model.Organizations),
            dom: 'Bfrtip',
            buttons: ['excel', 'pdf'],
            language:{url:'/assets/plugins/datatables/turkish.json'},
            columns: [
                { data: 'Name' },
                { data: 'Phone' },
                { data: 'UserCount' },
                { data: 'Status',render:function (data){if (data==1){return '<div class=\"badge badge-success\"> </div>'}else{return '<div class=\"badge badge-danger\"> </div>' }}},
                {
                    data: 'OrganizationId', orderable: false, class: 'text-right',
                    render: function (data) {
                        return '<a href="/User/List?organizationid=' + data + '" class="btn btn-primary btn-sm"><i class="fa fa-users"></i></a><a href="/Organization/Edit?id=' + data + '" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>'

                    }
                }
            ]
        });
    });
</script>

