@page
@model PaymentSystemForCustomer.LogIndexModel
@{
    ViewData["Title"] = "Log";
}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Log</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
                <li class="breadcrumb-item active">Log</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table">
                        <table id="datatable" style="width:100%;" class="display nowrap table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tarih</th>
                                    <th>Log</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            data: @Json.Serialize(Model.Log),
            dom: 'Bfrtip',
            buttons: ['excel', 'pdf'],
            language: { url: '/assets/plugins/datatables/turkish.json' },
            order:[[0,"desc"]],
            columns: [
                { data: 'Date', render: function (data) { return new Date(data).toLocaleString() } },
                { data: 'Description' },
            ]
        });
    });
</script>

