@page
@model PaymentSystem.UserListModel
@{
    ViewData["Title"] = "Üyeler";
}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Üyeler</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
                <li class="breadcrumb-item active">Üyeler</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table">
                        <table id="datatable" style="width:100%;" class="display nowrap table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Şirket</th>
                                    <th>Adı</th>
                                    <th>Soyadı</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Oluşturulma Tarihi</th>
                                    <th>Borç</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            data: @Json.Serialize(Model.User),
            dom: 'Bfrtip',
            buttons: ['excel', 'pdf'],
            language:{url:'/assets/plugins/datatables/turkish.json'},
            columns: [
                { data: 'Name' },
                { data: 'FirstName' },
                { data: 'LastName' },
                { data: 'UserName' },
                { data: 'CreatedDate', render: function (data) { return new Date(data).toLocaleString() } },
                { data: 'Balance', render: function (data) { return parseFloat(data).toLocaleString("tr-TR", { style: 'currency', currency: 'TRY' }) } },
                { data: 'Status',render:function (data){if (data==1){return '<div class=\"badge badge-success\"> </div>'}else{return '<div class=\"badge badge-danger\"> </div>' }}},
                {
                    data: 'UserId', orderable: false, class: 'text-center',
                    render: function (data) {
                        return '<a href="/Transaction/List?userid=' + data + '" class="btn btn-info waves-effect btn-sm"><i class="mdi mdi-credit-card"></i></a><a href="/Payment/List?userid=' + data + '" class="btn btn-info waves-effect btn-sm"><i class="mdi mdi-credit-card-clock"></i></a><a href="/User/Edit?id=' + data + '" class="btn btn-info waves-effect btn-sm"><i class="mdi mdi-file-edit"></i></a>'

                    }
                }
            ]
        });
    });
</script>

