@using PaymentSystem.Model
@inject DbEvents DbEvents
@if (Context.Request.Cookies["token"] != null)
{
    if (!DbEvents.isLogin(Context.Request.Cookies["token"].ToString()))
    {
        Context.Response.Redirect("/Index");
    }
}
else
{
    Context.Response.Redirect("/Index");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png" />
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- page css -->
    <link href="~/css/pages/login-register-lock.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="~/css/colors/default-dark.css" id="theme" rel="stylesheet" />
    <link href="~/assets/plugins/sweetalert/swal/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css">
    <link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>
    <!-- Sweet-Alert  -->
    <script src="~/assets/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/plugins/sweetalert/swal/sweetalert2.min.js"></script>
    <script src="~/assets/plugins/moment/min/moment.min.js"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/plugins/input-mask/jquery.mask.js"></script>

    <style>
        .paginate_button > a {
            padding: 10px !important
        }

        .dataTables_filter > label > input {
            width: 200px !important
        }
    </style>



</head>
<body class="fix-header card-no-border fix-sidebar">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Dashboard/Index">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="~/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span style="color: white; font-weight: bold;">
                            TS
                        </span>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                        <li class="nav-item"><a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                        <li class="nav-item hidden-sm-down"><span>Tahsilat Sistemi</span></li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/assets/images/users/1.jpg" alt="user" class="profile-pic" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <ul class="dropdown-user">

                                    <li><a href="#"><i class="ti-settings"></i>&nbsp;Settings</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i>&nbsp;Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="fa fa-pie-chart"></i>
                                <span class="hide-menu">Gösterge</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/Dashboard/Index">Gösterge</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="fa fa-users"></i>
                                <span class="hide-menu">Üye</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/User/Add">Üye Ekle</a></li>
                                <li><a href="/User/List">Üyeler</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="fa fa-money"></i>
                                <span class="hide-menu">Alacak</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/Payment/Add">Alacak Ekle</a></li>
                                <li><a href="/Payment/List">Alacak Listesi</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="fa fa-credit-card"></i>
                                <span class="hide-menu">Tahsilat</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/Transaction/Add">Tahsilat Ekle</a></li>
                                <li><a href="/Transaction/List">Tahsilat Listesi</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="fa fa-building"></i>
                                <span class="hide-menu">Şirket</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/Organization/Add">Şirket Ekle</a></li>
                                <li><a href="/Organization/List">Şirketler</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="fa fa-server"></i>
                                <span class="hide-menu">Log</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/Log/Index">Log</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">

            @RenderBody()

            <footer class="footer">
                © 2020 Payment System
            </footer>
        </div>
    </div>
</body>
</html>
