@page
@model PaymentSystem.BlankModel
@{
    ViewData["Title"] = "Blank";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <p>Blank</p>
        </div>
    </div>
    
</div>