@page
@model IndexModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png" />
    <title>Tahsilat Sistemi</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- page css -->
    <link href="~/css/pages/login-register-lock.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="~/css/colors/default-dark.css" id="theme" rel="stylesheet" />
    <link href="~/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
        </div>
    </div>

    <section id="wrapper" class="login-register login-sidebar" style="background-image: url('/assets/images/background/login-register.jpg');">
        <div class="login-box card">
            <div class="card-body">
                <form method="post">
                    <div class="form-horizontal form-material" id="loginform">
                        <a href="javascript:void(0)" class="text-center db">
                            <img src="~/assets/images/logo-icon.png" alt="Home" /><br />
                        </a>
                        <div class="form-group m-t-40">
                            <div class="col-xs-12">
                                <input asp-for="User.UserName" type="text" class="form-control" required placeholder="Kullanıcı Adı" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input asp-for="User.Password" type="password" class="form-control" required placeholder="Parola" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="checkbox checkbox-primary pull-left p-t-0">
                                    <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                                    <label for="checkbox-signup">Hatırla </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <input type="submit" class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" value="GİRİŞ" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Sweet-Alert  -->
    <script src="~/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function showError() {
            swal('Hatalı Giriş','Kullanıcı Adı veya Parola hatalı...','error');
        }

         @Model.Error


    </script>
</body>
</html>