@page
@model PaymentSystem.PaymentChannelEditModel
@{
    ViewData["Title"] = "Ödeme Kanalı Düzenle";
}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Ödeme Kanalı Düzenle</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
                <li class="breadcrumb-item"><a href="/PaymentChannel/List">Ödeme Kanalları</a></li>
                <li class="breadcrumb-item active">Ödeme Kanalı Düzenle</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form class="form" method="post">
                        <input type="hidden" asp-for="PaymentChannel.PaymentChannelId" />
                        <div class="form-group m-t-20 row">
                            <label for="example-text-input" class="col-2 col-form-label">
                                Kanal Adı
                            </label>
                            <div class="col-10">
                                <input asp-for="PaymentChannel.Name" type="text" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group m-t-20 row">
                            <label for="example-text-input" class="col-2 col-form-label">
                                Api Key
                            </label>
                            <div class="col-10">
                                <input asp-for="PaymentChannel.ApiKey" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group m-t-20 row">
                            <label for="example-text-input" class="col-2 col-form-label">
                                Secret Key
                            </label>
                            <div class="col-10">
                                <input asp-for="PaymentChannel.SecretKey" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group m-t-20 row">
                            <label for="example-text-input" class="col-2 col-form-label">
                                Base Url
                            </label>
                            <div class="col-10">
                                <input asp-for="PaymentChannel.BaseUrl" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group m-t-20 row">
                            <label for="example-text-input" class="col-2 col-form-label">
                                Callback Url
                            </label>
                            <div class="col-10">
                                <input asp-for="PaymentChannel.CallbackUrl" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <button type="submit" asp-page-handler="Update" class="btn btn-info waves-effect m-t-10">KAYDET</button>
                                <button type="button" onclick="onDelete()" class="btn btn-danger waves-effect m-t-10">SİL</button>
                                <button style="display:none" id="deleteButton" type="submit" asp-page-handler="Delete" class="btn btn-danger waves-effect m-t-10">SİL</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function onDelete() {

        Swal.fire({
            title: 'Sil',
            text: "Silinecek onaylıyor musunuz?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.value) {
                document.getElementById('deleteButton').click();
            }
        });

    }

    function showMessage() {
        Swal.fire('Kaydet', 'Değişiklikler kaydedildi...', 'success');
    }

    function errorMessage() {
            Swal.fire('Kaydet','Bir hata oluştu...','error');
    }

    @Model.Message
</script>